[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
scikit-image = "*"
matplotlib = "*"
numpy = "*"
bresenham = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.8"
